<header class="header">
    {{title}}
    <nav class="header-navbar">
        <ul class="header-list-items">
            <li class="header-list-item"><a href="/">Add Book</a></li>
            <li class="header-list-item"><a href="/books">Books</a></li>
        </ul>
    </nav>
</header>