{{#if mydiary}}
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-3">
      <div class="card mt-3">
        <div class="card-body">
          <form action="/diary/update" method="post" enctype="application/x-www-form-urlencoded">
            {{#if mydiary.img}}
            <div class="mb-3">
              <img src={{mydiary.img}} class="card-img-bottom" alt="...">
            </div>
            {{/if}}
            <div class="mb-3">
              <label for="text" class="form-label">Example textarea</label>
              <textarea class="form-control" id="tex" name="text" rows="4">{{mydiary.text}}</textarea>
            </div>
            <input type="hidden" name="id" value={{mydiary.id}}>
            <button type="submit" class="btn btn-primary">Update</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{{else}}
<h1>is not empty</h1>
{{/if}}